<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/bootstrap_simplex.css">
    <title>Registration Successful</title>
</head>
<body>
    <style>
        body {
            margin: 10px;
        }

    </style>
    
    <p class="alert alert-success"> <b>&#x2713; Congratulations!</b> You Have Successfully registered with Tri-Valley Coder Dojo</p>
    <b>Your Details:</b>
	<%= first %> <%= last %> 
	<br><br>
	<a href="/session/<%= current %>">Return to Login Page</a>
</body>
</html>